/***************** NAVBAR ***************/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


body{
  font-family: "Roboto Condensed" sans-serif;
}

.logo {
  width: 6rem;
}

/*  menu links */
a.nav-link{
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a{
  color: whitesmoke!important;
  margin-right: 0.75rem;
  border-bottom: solid rgb(255,255,255,0);
}

.navbar-brand{
  max-width: 17.25rem;
  padding: 0;
  height: 6rem;
}

.navbar-nav >li > a.active, .navbar-nav >li > a.active:focus{
  border-bottom: 0.15rem solid #f9ab00;
}

.navbar-nav >li > a:hover{
  border-bottom: 0.15rem solid #f9ab00;
}

